@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Righteous&family=Sarala&display=swap');

body{
    background-color: black;
    color: white;
    font-family: 'Righteous', cursive;
    text-align: center;
    vertical-align: middle;
    margin-top: 15%;
    font-size: 25px;
}
.titulo {
    font-size: 75px;
}
.botao{
    font-family: 'Righteous', cursive;
    font-size: 14px;
    width: 100px;
    height: 30px;
}